.adminAll {
  width: 60%;
  height: 90vh;
  padding: 20px;
}

.adminHeader {
  margin-bottom: 20px;
  font-size: 30px;
}

.admin-search {
  font-size: 18px;
  margin-right: 10px;
}

.admin-search-bar {
  padding: 5px 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 20px;
  width: 200px;
}

.admin-search-bar:focus {
  border-color: #007BFF;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, .5);
}

.adminUser {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
}

.adminUsers span {
  margin-right: 10px;
}

.adminOptions label,
.adminOptions select {
  margin-right: 10px;
}

.adminOptions button {
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  background-color: #007BFF;
  color: #fff;
  cursor: pointer;
}

.adminUser {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.adminOptions .admin-select {
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.adminOptions .admin-select:focus {
  border-color: #007BFF;
  outline: none;
  box-shadow: 0 0 5px rgba(0,123,255,.5);
}