.adminAll {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100vh;
}

.adminHeader {
    margin: 20px;
}

.adminMain {
    flex: 1;
    font-family: 'Lucida Grande', Verdana, sans-serif;
    font-size: large;
}

.adminUsers {

    margin: 20px 0;
    background-color: #ffffff82;
}

.adminUser:hover {
    border-color: #00000082;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.admin-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 20px;
}

.admin-select {
    width: 80px;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: #f4f4f4;
    color: #333;
    transition: all 0.3s ease;
    border-radius: 20px;
    cursor: pointer;
}

.admin-select:hover {
    border-color: #000000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input-css {
    background-color: #ffffff;
    color: #333333;
    border: 1px solid #cccccc;
    padding: 8px 12px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease;
    margin-bottom: 40px;
}

.input-css:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}