.tags-box {
  display: flex;
  flex-direction: row;
}

.tags-container {
  display: flex;
  margin-left: 20px;
  margin-right: 20px;
  justify-content: flex-start;
  gap: 10px;
  background-color: #fffdfd;
  padding: 20px;
  border: 2px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-wrap: wrap;
  padding: 10px 10px;
}

.tag {
  border: 1px solid #bdc3c7;
  border-radius: 20px;
  padding: 5px 10px;
  cursor: pointer;
}

.tag:hover {
  background-color: #a5cbe2;
}

.tag.selected {
  background-color: #3498db;
  color: #fff;
}

.post-tags {
  padding-left: 10px;
  display: block;
  margin-top: 5px;
  margin-right: 20px;
}

.post-tags strong {
margin: 0 10px;
}
.home {
  text-align: center;
  font-size: 4em;
  margin-bottom: 2rem;
  letter-spacing: 0.03em;
  word-spacing: 0.2em;
  font-style: italic;
  font-family: Arial;
  padding-top: 20px;
  padding-left: 30px;
}

.sort {
  flex: 1;
}

.together {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.together p {
  text-align: center;
  margin: 0 ;
  padding: 10px 0;
  font-size: 25px;
  font-family: 'Arial';
  font-style: italic;
}

.sort-search-container {
  display: flex;
  justify-content: space-between;
  height: 50px;
  margin-bottom: 20px;
  margin-right: 20%;
  width: 100%;
}

.search-bar {
  display: flex;
  border: 1px solid #bdc3c7;
  border-radius: 30px;
  padding: 10px;
  background-color: #f4f4f4;
}

.search-bar .input-css {
  outline: none;
  border: none;
  background: transparent;
  box-shadow: none;
}

.search-bar:hover {
  border-color: #3498db;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.material-symbols-outlined {
  margin-right: 10px;
  color: #3498db;
}

.input-css {
  border: none;
  outline: none;
  font-size: 16px;
  color: #333;
  width: 100%;
  background: transparent;
}

.content {
  margin: 0 auto;
  width: 70%;
}

.all-posts {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: 0 auto;
  width: 100%;
  float: left;
}
.usersCount {
  float: right;
}

.post-id {
  width: 100%;
  background-color: #fff;
  border: 2px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.post-header {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px 0;
}

.post-tags {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}

.post-author {
  font-size: 20px;
  font-weight: bold;
  color: #4b4f56;
}

.post-author-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.post-created {
  color: #b8b8b8;
  font-size: 14px;
  padding-left: 10px;
  margin-top: 5px;
}

.post-title {
  font-size: 23px;
  color: #000;
  margin-bottom: 8px;
  text-align: left;
  padding-left: 20px;
}

.post-content {
  font-size: 28px;
  color: #333;
  line-height: 1.6;
  text-align: justify;
  padding-left: 35px;
  margin-right: 25px;
}

.post-actions {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.like-section {
  padding-top: 15px;
  padding-left: 15px;
}

.thumb-icon {
  padding-right: 10px;
  color: #3498db;
  cursor: pointer;
}

.thumb-icon:hover {
  color: #2980b9;
}

.like-count {
  font-weight: bold;
  font-family: Arial;
  margin-left: -10px;
}

.material-symbols-outlined thumb-icon {
  padding-left: 10px;
  padding-top: 300px;
  color: #3498db;
}

.button-details {
  display: inline-block;
  padding: 10px 20px;
  font-size: 20px;
  color: #fff;
  background-color: #3498db;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-right: 100px;

}

.button-details:hover {
  background-color: #2980b9;
  transform: scale(1.1);
}

.button-details:active {
  background-color: #1a5276;
  transform: scale(0.9);
}

@keyframes backgroundPulse {
  0% { background-color: #ffffff; }
  50% { background-color: #f0f0f0; }
  100% { background-color: #ffffff; }
}

.usersCount {
  float: right;
  font-weight: 600;
  font-style: italic;
  font-size-adjust: 0.77;
  padding: 10px;
  border-radius: 5px;
  animation: backgroundPulse 3s infinite ease-in-out;
  margin: 30px 0;
  clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 50% 100%, 0% 75%);
}

.usersCount p {
  margin: 0;
  font-size: 16px;
  transition: transform 0.5s ease-in-out;
}

.usersCount:hover p {
  transform: scale(1.05);
}