body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}

.count {
  padding: 20px;
  background-color: #2ecc71;
  color: #fff;
  border-radius: 10px;
}

.health,
.wellness {
  display: inline-block;
  margin: 20px;
  padding: 20px 40px;
  font-size: 1.8em;
  cursor: pointer;
  background-color: #e74c3c;
  color: #fff;
  border: none;
  border-radius: 10px;
  text-decoration: none;
  transition: background-color 0.3s, transform 0.2s;
}

.health:hover,
.wellness:hover {
  background-color: #c0392b;
  transform: scale(1.1);
}

.details {
  text-align: center;
  margin: 50px auto;
}

.details h3 {
  font-size: 2em;
  margin-bottom: 10px;
  color: #2ecc71;
  animation: fadeInUp 1s ease-out;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}