.footer {
    width: 100%;
    background-color: #ffffff;
    /* color: #ffffff; */
    text-align: center;
    padding: 25px auto;
    position: absolute;
    bottom: 0;
    left: 0;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.3);
}