.infoAll {
  height: 100%;
  min-height: 100vh;
}

.infoHeader {
  margin-bottom: 40px;
}

.info-about-user p {
  margin-bottom: 20px;
  text-align: left;
  padding-left: 40%;
}

.infoMain form input {
  border: 2px solid #ccc;
  padding: 10px;
  color: #333;
  width: 300px;
  margin-top: 0;
}

.infoMain form label {
  margin-bottom: 0;
  padding-bottom: 0;
}

.info-about-user img {
  margin: 30px 0;
}