.all-posts-container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #3498db;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(52, 152, 219, 0.3);
  background-color: #ecf0f1;
}

.sort-search-container {
  display: flex;
  justify-content: space-between;

}

.search-bar {
  /* width: 40%; */
  border: 1px solid #bdc3c7;
  border-radius: 20px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: max-content;
  display: flex;
  align-items: center;

}
.input-css {
  /* width: 60%; */
  outline: none;
  border: none;
  background: transparent;
/* 
  background-image: url('https://freesvg.org/storage/img/thumb/1468834927.png');
  background-repeat: no-repeat;
  background-position: 10px center; */
}

.input-css:focus {
  outline: none;
  border-color: #3498db;
}

.sort-button {
  background-color: #2ecc71;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.sort-button:hover {
  background-color: #27ae60;
}