.tags-container {
  display: flex;
  margin-left: 20px;
  margin-right: 20px;
  justify-content: flex-start;
  gap: 10px;
}

.tag {
  border: 1px solid #bdc3c7;
  border-radius: 20px;
  padding: 5px 10px; /* padding: top/bottom, left/right, the same as: padding: 5px 10px 5px 10px; */
  cursor: pointer;
}

.tag:hover {
  background-color: #a5cbe2;
}

.tag.selected {
  background-color: #3498db;
  color: #fff;
}

.post-tags{
  padding-left: 10px;
  display: block;
  margin-top: 5px;
}


.all-postsi-title {
  text-align: left;
  font-size: 4em;
  margin-bottom: 2rem;
  letter-spacing: 0.03em;
  word-spacing: 0.2em;
  font-style: italic;
  font-family: Arial;
  padding-top: 20px;
  padding-left: 30px;
}

.sort {
  flex: 1;
}

.sort-search-container {
  display: flex;
  justify-content: space-between;
  height: 50px;
  margin-bottom: 20px;
  display: flex;
}

.search-bar {
  height: 50px;
  display: flex;
  border: 1px solid #bdc3c7;
  border-radius: 20px;
  padding: 10px;
  padding-bottom: 1px;
  background-color: #f4f4f4;
}

.search-bar:hover {
  border-color: #3498db;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.material-symbols-outlined {
  margin-right: 10px;
  color: #3498db;
}

.input-css {
  border: none;
  outline: none;
  font-size: 16px;
  color: #333;
  width: 100%;
  background: transparent;
}

/* .input-css:focus {
  outline: none;
  border-color: #3498db;
} */

.all-posts {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: 0 auto;
  width: 1200px;
  /* background-color: #f4f4f4; */
}

.post-id {
  width: 100%;
  background-color: #fff;
  border: 2px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  
}

.post-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 0;
}

.post-author {
  font-size: 20px;
  font-weight: bold;
  color: #4b4f56;
}

.post-created {
  color: #b8b8b8;
  font-size: 14px;
  padding-left: 10px;
}


.post-title {
  font-size: 23px; /* Increase the font size */
  color: #000; /* Change the color to a darker shade */
  margin-bottom: 8px;
  text-align: left; /* Align the text to the left */
  padding-left: 20px;
}

.post-content{
  font-size: 28px; /* Increase the font size */
  color: #333; /* Change the color to a darker shade */
  line-height: 1.6; /* Increase the line height for better readability */
  text-align: justify; /* Align the text to both left and right margins */
  padding-left: 35px;

}

.post-actions {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.like-section {
  padding-top: 15px;
  padding-left: 15px;
}
.thumb-icon {
  padding-right: 10px;
  color: #3498db;
  cursor: pointer;
}

.thumb-icon:hover {
  color: #2980b9;
}
.like-count {
  font-weight: bold;
  font-family: Arial;
  margin-left: -10px;
}

.material-symbols-outlined thumb-icon {
  padding-left: 10px;
  padding-top: 300px;
  color: #3498db;
}

.button-details {
  display: inline-block;
  padding: 10px 20px;
  font-size: 20px;
  color: #fff;
  background-color: #3498db;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button-details:hover {
  background-color: #2980b9;
  transform: scale(1.1);
}

.button-details:active {
  background-color: #1a5276;
  transform: scale(0.9);
}