.create-post-container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #48C9B0;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(241, 241, 241, 0.1);
  background-color: #FAF9F6;
  transition: all 0.3s ease;
}

.h1 {
  color: #0b0b0b;
}

.label-css {
  display: block;
  margin-bottom: 5px;
  color: #020202;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #AED6F1;
  border-radius: 6px;
  background-color: #FEF5E7;
  color: #0E6251;
}

.button {
  background-color: #58D68D;
  padding: 10px 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
  color: #FFFFFF;
}

.button:hover {
  background-color: #45B39D;
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .create-post-container {
    padding: 15px;
  }
}

input:focus,
textarea:focus {
  border-color: #3498DB;
  box-shadow: 0 0 8px rgba(246, 246, 247, 0.5);
}